.count0{

}.count1{
    background: #fdf2cb !important;
}
.count2{
    background: #fde4d0!important;
}
.last{
    background: #E57373!important;
}
.count3{
    background: #9f9f9f!important;
    color: white;
}